:root {
	--beige: #f1e3c4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", serif;
	background-color: darkslateblue;
	color: var(--beige);
}

h2 {
	font-weight: 400;
}




/* -- -- hola -- -- */

.hola {
	margin: 102px auto 0 auto;
	width: 767px;
	padding: 0 144px;
	text-align: center;
	background: linear-gradient(to top right, #122f5a, #1b68c5);
	border: 8px solid var(--beige);
	border-radius: 60px;
}

.foto-perfil {
	background: var(--beige);
	width: fit-content;
	padding: 7px;
	margin: -110px auto 15px auto;
	border-radius: 50%;
}
.hola img {
	display: block;
	border-radius: 50%;
}

h1 {
	font-family: "Playwrite NO";
	font-size: 32px;
	font-weight: 400;
}

.hola h2 {
	font-size: 22px;
}

.hola p {
	margin-top: 10px;
	text-align: left;
}
