:root {
	--beige: #f1e3c4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", serif;
	background-color: darkslateblue;
	color: var(--beige);
}

h2 {
	font-weight: 400;
	font-family: "Playwrite NO";
}




/* -- -- hola -- -- */

.hola {
	margin: 102px auto 0 auto;
	width: 767px;
	padding: 0 144px 30px 144px;
	text-align: center;
	background: linear-gradient(to top right, #122f5a, #1b68c5);
	border: 8px solid var(--beige);
	border-radius: 60px;
	box-shadow: var(--beige) 0 0 30px;
}

.foto-perfil {
	background: var(--beige);
	width: fit-content;
	padding: 7px;
	margin: -110px auto 17px auto;
	border-radius: 50%;
	box-shadow: var(--beige) 0 0 30px;
}
.foto-perfil img {
	display: block;
	border-radius: 50%;
}

h1 {
	font-family: "Playwrite NO";
	font-size: 32px;
	font-weight: 400;
}

.hola h2 {
	font-family: "Poppins";
	font-size: 22px;
}

.hola p {
	margin: 15px 0 30px 0;
	text-align: left;
	position: relative;
	left: 10px;
}

.hola ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 15px;
}




/* -- -- -- Proyectos -- -- -- */

.proyectos {

}
